
html{
  height: 100vh;
}
body{
  background-image: url(https://cdn.jsdelivr.net/gh/ilizan/netlove521@master/images/bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: black;
  height: 100vh;
}
body:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAFklEQVQIHWNgYGBI+///PwMIgwmsHAC5exhP0nQwxgAAAABJRU5ErkJggg==);
}
html,body,p,span{
    margin: 0;
    padding: 0;
    color: #fff;
}
/* 打字机效果开始 */
.typed-cursor {
  opacity: 1;
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite;
}
@keyframes typedjsBlink {
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes typedjsBlink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.typed-fade-out {
  opacity: 0;
  transition: opacity 0.25s;
  -webkit-animation: 0;
  animation: 0;
}
.h_T{
    text-align: center;
    font-size: 20px;
    min-height: 60px;
    font-family: "Long Cang", cursive;
}
/* 打字机效果结束 */

/* 心跳开始*/
@font-face {
  font-family: 'iconfont';  /* project id 1979078 */
  src: url('//at.alicdn.com/t/font_1979078_kz6n9caghf.eot');
  src: url('//at.alicdn.com/t/font_1979078_kz6n9caghf.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1979078_kz6n9caghf.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1979078_kz6n9caghf.woff') format('woff'),
  url('//at.alicdn.com/t/font_1979078_kz6n9caghf.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1979078_kz6n9caghf.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.xin {
  text-align: center;
  color: rgb(240, 136, 136);
  font-size: 80px;
  display: inline-block;
  animation: iconAnimate 1s ease-in-out infinite;
}
@keyframes iconAnimate {
  0%,
  100% {
    transform: scale(1);
  }

  10%,
  30% {
    transform: scale(0.7);
  }

  20%,
  40%,
  50%,
  60%,
  70%,
  80% {
    transform: scale(1);
  }
}

/* 心跳结束 */
body *{
    /* border:1px solid #ccc; */
}
/* 布局开始*/
.main{
  height: 100vh;
}
.hero{
    height: 400px;
    /* border-bottom: 1px solid #ccc; */
    /* background-size: 100%;
    background-position: center; */
}
.h_text{
    padding-top: 120px;
    font-size: 100px;
    text-align: center;
}
.cenT{
  text-align: center;
}
/* 布局结束 */